@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form,
input,
button,
textarea {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.tc {
  text-align: center;
}
img {
  border: none;
}
body {
  font-size: 12px;
  font-family: arial, '微软雅黑', "microsoft yahei";
}
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 清理浮动 */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
body {
  min-width: 1280px;
  overflow-x: auto;
}
a {
  text-decoration: none;
}
.head {
  width: 100%;
  height: 58px;
  line-height: 58px;
}
.logo img {
  float: left;
  margin-top: 10px;
  padding-left: 58px;
}
.color {
  color: #393a3a;
}
.logo span {
  padding-left: 10px;
  font-size: 20px;
  color: #393a3a;
}
.nav {
  padding-right: 60px;
}
.nav li {
  float: left;
  width: 120px;
  color: #393a3a;
  font-size: 14px;
}
.nav a {
  float: left;
  width: 120px;
  color: #393a3a;
  font-size: 14px;
  text-align: center;
}
.nav a:hover {
  color: #e74f4d;
  border-bottom: 2px solid #e74f4d;
}
.user {
  padding: 0 60px 0 20px;
}
.user a {
  color: #e74f4d;
  font-size: 14px;
  padding-left: 10px;
}
.w1280 {
  width: 1280px;
}
.auto {
  margin: 0 auto;
}
.banner {
  width: 1280px;
  height: 695px;
  margin: 0 auto;
  position: relative;
  background: url(../../img/html_task7_img/banner.jpg) no-repeat center top;
}
.banner_txt {
  position: absolute;
  width: 500px;
  height: 280px;
  left: 100px;
  top: 200px;
  color: #ffffff;
}
.banner_txt .b_txt {
  font-size: 60px;
  line-height: 80px;
}
.banner_txt .b_txt_ch {
  font-size: 21px;
}
.banner_txt .b_txt_c {
  width: 330px;
  height: 62px;
  background: #e74f4d;
  font-size: 30px;
  text-align: center;
  line-height: 62px;
  margin-top: 50px;
}
.icon ul li {
  width: 25%;
  float: left;
  text-align: center;
  color: #383838;
  height: 250px;
}
.icon ul li .img {
  display: inline-block;
  width: 25%;
  margin-top: 50px;
  line-height: 100px;
}
.border_right {
  height: 46px;
  border-right: 1px solid #383838;
}
.border_right span {
  width: 160px;
  display: inline-block;
  text-align: center;
}
.banner_center {
  height: 356px;
  background: #ededec;
  width: 100%;
  text-align: center;
}
.banner_center img {
  padding-top: 80px;
}
.banner_text {
  display: block;
  font-size: 54px;
  color: #b7b6b6;
  line-height: 100px;
  text-align: center;
}
.banner_city {
  width: 1280px;
  height: 340px;
  margin: 0 auto;
  background: url(../../img/html_task7_img/banner_city.jpg) no-repeat center top;
}
.banner_city h1 {
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  padding-top: 50px;
  line-height: 50px;
}
.line {
  width: 30px;
  height: 2px;
  margin: 20px auto;
}
.wh235 {
  width: 235px;
  height: 35px;
  line-height: 35px;
}
.wh230 {
  width: 235px;
  height: 30px;
  line-height: 30px;
}
.city_txt {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 60px;
}
.select {
  margin-top: 35px;
  width: 1056px;
  margin: 0 auto;
  font-size: 12px;
}
.select .select_li {
  float: left;
  width: 235px;
  height: 35px;
  line-height: 35px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.select:hover .select_ul {
  display: block;
  border: 1px solid #be4e48;
  border-top: none;
}
.select ul li div {
  float: left;
  width: 235px;
  height: 35px;
  line-height: 35px;
  color: #c8c9c9;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ffffff url(../../img/html_task7_img/jtou.png) no-repeat 205px center;
}
.select ul li div:hover {
  border: 1px solid #be4e48;
}
.select ul.select_ul {
  position: absolute;
  top: 35px;
  left: 0;
  width: 235px;
  height: auto;
  background: #e3e2e4;
  color: #89898a;
  display: none;
  box-sizing: border-box;
}
.select ul.select_ul li {
  width: 235px;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.select ul.select_ul:hover {
  color: #fff;
  width: 234px;
  height: 30px;
  background: #be4e48 url(../../img/html_task7_img/dh.png) no-repeat 5px center;
}
.select ul li a {
  width: 235px;
  height: 35px;
  line-height: 35px;
  background: #be4e48;
  text-align: center;
  color: #ffffff;
  float: left;
  font-size: 14px;
}
.banner_pic {
  width: 100%;
  background: #f8f8f7;
  height: 600px;
}
.banner_pic ul {
  width: 1055px;
  margin: 0 auto;
  padding-top: 100px;
  height: 450px;
}
.banner_pic li {
  float: left;
  text-align: center;
  width: 216px;
  height: 392px;
  margin-left: 35px;
}
.banner_pic .li {
  float: left;
  width: 216px;
  height: 336px;
  background: #fff;
  border: 1px solid #dadada;
  text-align: center;
}
.pic_b_city {
  color: #333;
  font-size: 26px;
  letter-spacing: 28px;
  line-height: 38px;
}
.pic_city {
  color: #333;
  font-size: 18px;
  line-height: 30px;
}
.pic_loaction {
  font-size: 14px;
  color: #9fa09f;
  line-height: 20px;
}
.banner_pic ul li img {
  padding-top: 12px;
}
.banner_pic_txt {
  width: 1280px;
  height: 566px;
  margin: 0 auto;
}
.banner_left {
  width: 850px;
  height: 566px;
  text-align: center;
  color: #ffffff;
  position: relative;
  background: url(../../img/html_task7_img/banner_left.jpg) no-repeat center top;
}
.new_ch {
  font-size: 50px;
  padding-top: 130px;
}
.time {
  font-size: 158px;
}
.new_bj,
.new_time {
  font-size: 22px;
}
.sanjiao {
  position: absolute;
  right: 0px;
  bottom: 50%;
  border-width: 16px;
  border-color: transparent #fff transparent  transparent;
  border-style: dashed solid dashed dashed;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.banner_right {
  width: 420px;
  height: 566px;
}
.banner_right p {
  width: 300px;
  margin-left: 70px;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 20px;
  height: 160px;
}
.banner_right a {
  width: 100px;
  height: 32px;
  border: 1.5px solid #e46669;
  text-align: center;
  line-height: 32px;
  color: #e46669;
  font-size: 12px;
  display: block;
  margin: 0 auto;
}
.title {
  margin-top: 140px;
  height: 60px;
  width: 100%;
  font-size: 20px;
  color: #333;
  text-align: center;
}
.title span {
  color: #e7504d;
}
.list {
  width: 100px;
  height: 20px;
  margin: 20px auto;
}
.list li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1.5px solid #929292;
  background: #fff;
  float: left;
  margin-left: 15px;
  cursor: pointer;
}
.list li:hover {
  background: #929292;
}
.addmore {
  width: 170px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  display: block;
}
.banner_bottom {
  width: 1280px;
  height: 520px;
  margin: 0 auto;
}
.banner_bottom li {
  float: left;
  width: 427px;
  height: 520px;
}
.banner_bottom li .more {
  width: 170px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  display: block;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
.banner_bottom li:first-child {
  background: #e74f4d;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
}
.banner_bottom li:nth-child(2) {
  background: #ffffff;
  color: #383838;
  font-size: 21px;
  text-align: center;
}
.banner_bottom li:nth-child(2) .more {
  width: 170px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  display: block;
  color: #e74f4d;
  text-align: center;
  margin: 0 auto;
}
.banner_bottom ul li:nth-child(3) {
  position: relative;
  width: 426px;
  height: 520px;
}
.banner_bottom ul li:nth-child(3) .sj {
  position: absolute;
  left: 0px;
  bottom: 50%;
  border-width: 16px;
  border-color: transparent transparent  transparent #fff;
  border-style: dashed dashed dashed solid;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.b_b_txt {
  margin-top: 168px;
}
.line_f {
  background: #fff;
}
.line_c {
  background: #ababaa;
}
.line_r {
  background: #e7504d;
}
.bottom {
  width: 1060px;
  margin: 100px auto 0;
  height: 500px;
}
.bottom h1 {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  color: #000;
}
.bottom h2 {
  font-size: 14px;
  line-height: 50px;
  color: #000;
  font-weight: bold;
}
.bottom p {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}
.bottom_left {
  width: 320px;
  height: 320px;
  margin-top: 100px;
}
.bottom_left h2 {
  color: #231815;
  font-size: 14px;
  line-height: 40px;
}
.bottom_left p {
  font-size: 12px;
  text-align: left;
}
.list_more {
  text-align: right;
  line-height: 40px;
}
.bottom_right {
  margin-top: 100px;
  width: 640px;
  height: 280px;
  line-height: 40px;
}
.bottom_right li {
  float: left;
}
.bottom_right li div {
  width: 300px;
  height: 40px;
  padding-left: 15px;
  font-size: 12px;
  color: #231815;
  float: left;
  background: #ededef;
  margin-top: 15px;
  box-sizing: border-box;
}
.bottom_right li div.dream {
  height: 120px;
  width: 640px;
}
.bottom_right li div.ml40 {
  margin-left: 40px;
}
.bottom_right li .sub {
  width: 640px;
  text-align: center;
  color: #323333;
}
.icon_pic {
  width: 220px;
  height: 50px;
  margin: 0 auto;
}
.foot {
  width: 100%;
  margin-top: 160px;
  height: 350px;
  background: #32363e;
  text-align: center;
}
.foot h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  line-height: 40px;
}
.foot p {
  color: #ffffff;
  text-align: center;
}
div.submit {
  height: 42px;
  width: 520px;
  margin: 20px auto;
  line-height: 42px;
}
div.submit input {
  width: 430px;
  height: 42px;
  background: #ffffff;
  border: none;
  font-size: 14px;
  color: #aaa;
}
div.submit .button {
  width: 80px;
  height: 42px;
  text-align: center;
  background: #707278;
  color: #ffffff;
  font-size: 16px;
}
.icon_pic ul li {
  float: left;
  width: 55px;
  text-align: center;
}
.footer {
  background: #303039;
  height: 58px;
  line-height: 58px;
  color: #ffffff;
  font-size: 12px;
}
.footer_left {
  margin-left: 100px;
}
.footer_right {
  margin-right: 100px;
}
